<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ seo_document_title ?? title ?? site:name }}</title>
    <meta name="description" content="{{ seo_meta_description }}">
    <meta name="robots" content="{{ seo_no_index ?= 'noindex' }}">
    {{ livewire:styles }}
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>
<body x-data="{ navOpen: false }" :class="navOpen ? 'overflow-hidden' : ''" class="font-sans leading-normal text-gray-800">
    {{ partial:header }}
    <main>
        {{ template_content }}
    </main>
    {{ partial:footer }}
    {{ livewire:scripts }}
</body>
</html>
